#div1{
    background-color: black;
    height: 200px;
    width: 100%;
    position: sticky;
    margin-top: none;
}

#nav1{
    text-decoration: none;
    color: black;
}

#nav2{
    text-decoration: none;
    color: white;
}

#button1{
    border-radius: 20px;
    height: 40px;
    width: 80px;
    margin-bottom: 10%;
    margin-top: 5%;
}


#navbar{
    margin-bottom: 5%;
    
}

.logo{
    margin-top: 5%;
}

#search{
    background-color: black;
    color: white;
    height: 20px;
}

#divbody{
    border: 2px solid;
    width: 1500px;
    margin: 4%;
    margin-left: 10%;
    height: 700px;
    border-radius: 50px;
    background-image: url('ground.jpg');
}

#buy{
    color: black;
    background-color: white;
    border-radius: 10px;
}

#title{
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
    
}

.class{
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

#lowdiv{
    border: 2px solid;
    width: 1500px;
    margin: 4%;
    margin-left: 10%;
    height: 300px;
    border-radius: 30px;
    background-image: url('ground.jpg');
}




#footer{
    background-color: black;
    color: aliceblue;
}

#footlink{
    text-decoration: none;
    color: rgb(99, 92, 92);
}

.footdiv{
    font-weight: 200;
}


#lastlinks{
    text-decoration: none;
    color: rgb(99, 92, 92);
}

#footlink1{
    color: white;
    text-decoration: none;
}


.h1{
    text-align: center;
    font-size: xx-large;
}

#exp{
    float: left;
    width: 20%;
    border-radius: 10px;
}


#exp1{
    width: 50%;
    height: 20%;
}
#explore{
    display: flex;
    margin: 2%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

#ep{
    display: flex;
}

#see{
    float: right;
    margin-top: 1%;
    text-align: center;
    color: aliceblue;
    background-color: black;
    width: 10%;
    height: 40px;
    border-radius: 20px;
    font-size: medium;
    margin-right: 50%;
}

#await{
font-weight: bold;
font-size: xx-large;
font-family: sans-serif;
}

#text{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 30%;
    margin-left: 2%;
    color: whitesmoke;


}

#buy{
    float: right;
    margin-top: 40%;
    margin-right: 3%;
    width: 10%;
    height: 50px;
    border-radius: 30px;
}

#designpara{
    margin-left: 2%;
    font-size: x-large;
    color: white;

}

#title{
    font-size: xx-large;
}

#lastdiv{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: aliceblue;
}

#email{
    margin-left: 40%;
    height: 30px;
    border-radius: 8px;

}

#email1{
    height: 35px;
    width: 7%;
    border-radius: 8px;
}